In [7]:
import pandas as pd
import numpy as np

# Rastgele veri oluşturma
np.random.seed(42)
n_samples = 10000  # Veri setini büyüt

# Özellikler
data = {
    'Metrekare': np.random.randint(50, 200, n_samples),
    'Oda_Sayisi': np.random.randint(1, 6, n_samples),
    'Bina_Yasi': np.random.randint(1, 50, n_samples),
    'Lokasyon': np.random.choice(['A', 'B', 'C'], n_samples),
}

# Fiyatı hesapla (daha gerçekçi bir formül)
data['Fiyat'] = (
    data['Metrekare'] * 1000 +  # Metrekare başına 1000 TL
    data['Oda_Sayisi'] * 50000 +  # Her oda için 50.000 TL
    (50 - data['Bina_Yasi']) * 2000  # Bina yaşına göre değer kaybı
)

# DataFrame oluşturma
df = pd.DataFrame(data)

# Lokasyon'u kategorik değişkene dönüştürme
df = pd.get_dummies(df, columns=['Lokasyon'], drop_first=True)

# CSV olarak kaydetme
df.to_csv('veri.csv', index=False)

# İlk 5 satırı görüntüleme
df.head()

   Metrekare  Oda_Sayisi  Bina_Yasi   Fiyat  Lokasyon_B  Lokasyon_C
0        152           4         44  364000       False        True
1        142           5         36  420000       False       False
2         64           1         35  144000        True       False
3        156           5          6  494000        True       False
4        121           2         16  289000       False       False